.header-login{
  padding-right: 5px;
}

 .register{
   padding-right: 5px;
 }

.footer{
  position: fixed;
}

.foot-content{
  max-height: 23px;
}

.copyright{
  text-align: center;
  color: white;
  font-size: 16px;
}

/* Style the video: 100% width and height to cover the entire window */
.videobg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color:rgba(192,192,192,0.4);
}

.jumbotron{
  background-color:rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
}
