.header-login{
  padding-right: 5px;
}

 .register{
   padding-right: 5px;
 }

.footer{
  position: fixed;
}

.foot-content{
  max-height: 23px;
}

.copyright{
  text-align: center;
  color: white;
  font-size: 16px;
}
