
.jumbotron{
  background-color:rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
  margin: auto;
  vertical-align: middle;
  padding-top: 24%;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.input {
  vertical-align: middle;
  height: 38px;
  border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.register {
  padding-top: 3%;
}
 .booking {
   padding-top: 3%;
 }

.disclaimer{
  padding-left: 1.5%;
  padding-bottom: 2%;
}

.status {
  text-align: center;
  padding-top: 2%
}

.content {
  padding-top: 2%;
  padding-bottom: 4%;
}

.slide {
  padding-top: 1%;
}

body{

}

.footer{
   bottom: 0;
   width: 100%;
   position: fixed;
}


.foot-content{
  max-height: 23px;
}

.copyright{
  text-align: center;
  color: white;
  font-size: 16px;
}


main {
  min-height: 100%;

}

.warning {
  padding-top: 2%;
}

.speaker {
  width: 50%;
}

.booked{
  padding-top: 2%;
}

.nav{
  background-color: #2c2c2c !important;
}
